/* global values */
:root {
    --jet: #32322e;
    --charcoal: #374048;
    --orange: #ca6c37;
    --indigo: #1b3d5d;
    --tan: #c8aa8f;
}

/* universal styles */
html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(var(--orange), var(--tan));
    font-size: 20px;
}

/* universal flex */
.flex-container {
    display: flex;
    border-radius: 10px;
}

.flex-item {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: 3px solid var(--jet);
}

/* heading */
.banner { 
    flex-flow: column wrap;
}

.page-heading {
    text-align: center;
}

/* navbar */
.navbar {
    flex-flow: row wrap;
    justify-content: flex-start;
}

.navbar-item {
    flex: 5 1 auto;
}

.navbar-item a {
    text-decoration: none;
    color: var(--tan);
}

#resume-link {
    margin-left: auto;
    flex: 1 0 auto;
}

/* main content */
.main-content {
    margin: 0 10px;
}

/* bio section */
.bio {
    flex-flow: row wrap;
    align-items: flex-start;
}

.selfie {
    flex: 1 0 auto;
    max-width: 300px;
    padding: 0;
}

.about-info {
    flex: 1 1 0;
    flex-flow: column wrap;
    align-self: stretch;
    padding: 0;
}

p.bio-item {
    flex: 1 1 auto;
}

/* aside */
.did-you-know {
    flex-flow: row wrap;
}

.did-you-button {
    background-color: var(--tan);
    width: 350px;
    transition: width ease-in-out 1s;
}

.did-you-button:hover {
    background-color: var(--indigo);
    color: #fff;
    width: 300px;
}

.did-you-button:active {
    font-size: 95%;
    box-shadow: 0 0 10px #000 inset;
}

.did-you-know p {
    display: none;
}

.did-you-button:focus p {
    display: flex;
}


/* footer */
.end-card {
    text-align: center;
    margin: 10px;
    padding-bottom: 10px;
}

.contact-list {
    padding: 5px;
}

.contact-list::before {
    margin-right: 5px;
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
}

.twitter::before {
    background-image: url(../img/Logo_of_Twitter.svg);
}

.github::before {
    background-image: url(../img/Octicons-mark-github.svg);
}

.email::before {
    background-image: url(../img/Email_Shiny_Icon.svg);
}

.linkedin::before {
    background-image: url(../img/Linkedin_icon.svg);
}

